
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            position: relative;
        }
        .container {
            max-width: 800px;
            margin: auto;
            text-align: center;
        }
        .chart-container {
            margin: 20px 0;
        }
        .chart-container canvas {
            max-width: 100%;
        }
        .table-container {
            margin: 20px 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table th, table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }
        table th {
            background-color: #f2f2f2;
        }
        .logo {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 220px; 
        }
        .button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 15px 30px;
            background-color: #800080; 
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #922c9e; 
        }
   